$primary: #f22253;
$secondary: #0095f3;
$light-primary: rgb(167, 245, 121);
$font-color: #fffefd;
$background-color: #2d2d2d;
$navigation-color: #4d4d4d;
$primary-border: 2.5px solid $primary;

@mixin small {
   @media (min-width: #{380px}) {
      @content;
   }
}

@mixin medium {
   @media (min-width: #{550px}) {
      @content;
   }
}

@mixin mobile {
   @media (min-width: #{855px}) {
      @content;
   }
}

@mixin large {
   @media (min-width: #{1400px}) {
      @content;
   }
}

@import "./Bootstrap/bootstrap.scss";
@import "./_nav.scss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
   min-height: 100vh;
   animation: 1.5s ease-out 0s 1 slideIn;
   font-family: 'Ubuntu', sans-serif;
   color: $font-color;
   min-width: 320px;
   background-color: darken($background-color, 5%);
}

@keyframes slideIn {
   0% {
      opacity: 0;
   }

   30% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

main {
   max-width: 800px;
   margin: auto;
   background-color: rgba($background-color, 0.85);
   box-shadow: 0px 0px 25px 15px rgba($background-color, 0.85);
   clip-path: inset(0 -100px);
}

section {
   padding: 15px;
   display: grid;
   gap: 0 15px;
   grid-template-rows: auto auto auto;
   grid-template-areas: "section-title"
      "section-image"
      "section-text";

   @include medium {
      grid-template-columns: 4fr 3fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "section-image section-title"
         "section-image section-text";

      &:nth-child(odd) {
         grid-template-columns: 3fr 4fr;
         grid-template-areas: "section-title section-image"
            "section-text section-image";
      }
   }

   .section-image {
      grid-area: section-image;
      width: 100%;
      padding-bottom: 15px;
   }

   .section-title {
      grid-area: section-title;
      padding-left: 8px;
      border-left: $primary-border;
   }

   .section-text {
      grid-area: section-text;
   }
}

label {
   margin-bottom: 2px;
}

li {
   &::marker {
      color: $primary;
   }
}

footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: $navigation-color;
   border-top: $primary-border;

   #copyright {
      padding: 16px;
   }

   #back-to-top {
      margin-right: 12px;
      font-size: 2.35rem;

      &:hover {
         cursor: pointer;
      }
   }
}

#background {
   z-index: -1;
   position: fixed;
}

.background-hidden {
   opacity: 0;
}

.background-visible {
   transition: opacity 3s;
   opacity: 1;
}

.parallax {
   height: 400px;
   width: 100%;
   background-attachment: initial;
   background-repeat: no-repeat;
   border-bottom: $primary-border;

   @include mobile {
      background-attachment: fixed;
   }
}

#home-parallax {
   height: 100%;

   img {
      width: 100%;
      height: auto;

      @include mobile {
         display: none;
      }
   }

   @include mobile {
      background-image: url(https://via.placeholder.com/1280x600);
      height: 400px;
      background-position-x: 45%;
      background-position-y: 0%;
      background-size: 120vw;
   }

   @include large {
      background-size: 110vw;
   }
}

#color-slider {
   appearance: none;
   height: 8px;
   border-radius: 5px;
   background: linear-gradient(90deg, $primary, $secondary);
   outline: none;
   padding: 0;
   margin: 0;

   &::-webkit-slider-thumb {
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $primary;
      cursor: pointer;
   }
}