$primary: #f22253;
$secondary: #0095f3;
$light-primary: rgb(167, 245, 121);
$font-color: #fffefd;
$background-color: #2d2d2d;
$navigation-color: #4d4d4d;
$primary-border: 3px solid var(--dynamic-color);


@mixin small {
   @media (min-width: #{380px}) {
      @content;
   }
}

@mixin medium {
   @media (min-width: #{550px}) {
      @content;
   }
}

@mixin mobile {
   @media (min-width: #{855px}) {
      @content;
   }
}

@mixin large {
   @media (min-width: #{1400px}) {
      @content;
   }
}

@import "./Bootstrap/bootstrap.scss";
@import "./_nav.scss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
   --dynamic-color: #f22253;
   --dynamic-hue-rotate: 0turn;

   min-height: 100vh;
   animation: 1.5s ease-out 0s 1 slideIn;
   font-family: 'Ubuntu', sans-serif;
   color: $font-color;
   min-width: 320px;
   background-color: darken($background-color, 5%);
}

@keyframes slideIn {
   0% {
      opacity: 0;
   }

   30% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

main {
   max-width: 930px;
   margin: auto;
   background-color: rgba($background-color, 0.85);
   box-shadow: 0px 0px 25px 15px rgba($background-color, 0.85);
   clip-path: inset(0 -100px);
}

section {
   padding: 15px;
   display: grid;
   gap: 0 15px;
   grid-template-rows: auto auto auto;
   grid-template-areas: "section-title"
      "section-image"
      "section-text";

   @include medium {
      grid-template-columns: 4fr 3fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "section-image section-title"
         "section-image section-text";

      &:nth-child(odd) {
         grid-template-columns: 3fr 4fr;
         grid-template-areas: "section-title section-image"
            "section-text section-image";
      }
   }

   .section-image {
      grid-area: section-image;
      width: 100%;
      max-width: 500px;
      padding-bottom: 15px;

      min-height: 250px;

      @include large {
         min-height: 300px;
      }
   }

   .section-title {
      grid-area: section-title;
      padding-left: 8px;
      border-left: $primary-border;
   }

   .section-text {
      grid-area: section-text;
      text-align: justify;
   }
}

.section-image-overlay {
   filter: hue-rotate(var(--dynamic-hue-rotate));
}

label {
   margin-bottom: 2px;
}

li {
   &::marker {
      color: var(--dynamic-color);
   }
}

footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: $navigation-color;
   border-top: $primary-border;

   #copyright {
      padding: 16px;
   }

   #back-to-top {
      margin-right: 12px;
      font-size: 2.35rem;

      &:hover {
         cursor: pointer;
      }
   }
}

#background {
   z-index: -1;
   position: fixed;
}

.background-hidden {
   opacity: 0;
}

.background-visible {
   transition: opacity 3s;
   opacity: 1;
}

#home-parallax {
   height: 100%;
   width: 100%;
   border-bottom: $primary-border;

   img {
      width: 100%;
      height: auto;
      opacity: 0;
   }

   .background {
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position-y: 60px;
      background-size: 100%;

      &.full {
         width: 100%;
         position: absolute;

         background-image: url(../images/AusfahrtGossau/ausfahrtGossau.png);

      }

      &.overlay {
         filter: hue-rotate(calc(var(--dynamic-hue-rotate)*0.8));

         background-image: url(../images/AusfahrtGossau/ausfahrtGossau_Overlay.png);
      }
   }
}

#color-slider {
   appearance: none;
   height: 8px;
   border-radius: 5px;
   background: linear-gradient(90deg, $primary, $secondary);
   outline: none;
   padding: 0;
   margin: 0;
   width: 150px;

   &::-webkit-slider-thumb {
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: var(--dynamic-color);
      cursor: pointer;
   }

   &::-moz-range-thumb {
      background: var(--dynamic-color);
      border: none;
   }
}